.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color:#3498db; /* Dark red color */
  color: white;
}
.dashboard-header .logo img {
  height: 50px;  /* Adjust the size of the logo */
  width: auto;
  border-radius: 20px;
     /* Maintain aspect ratio */
}
.header-title {
  font-size: 30px;
  align-items: center;
}

.header-user-info {
  display: flex;
  align-items: center;
}

.logout-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: white;
  color: #b22222;
  border: none;
  cursor: pointer;
}

.dashboard-body {
  display: flex;
  flex-grow: 1;
}

.sidebar-menu {
  width: 200px;
  background-color: #e3e1d0; /* Light grey for sidebar */
  padding: 10px;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list li {
  padding: 10px;
  cursor: pointer;
  color: black;
}
.menu-list a{
  color: black;
}
.dashboard-main-content {
  padding: 20px;
  flex-grow: 1;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  width: 200px;
}

.event-image {
  max-width: 100%;
  height: auto;
}

.register-button,
.cancel-button {
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.register-button {
  background-color: green;
  color: white;
}

.cancel-button {
  background-color: red;
  color: white;
}

.dashboard-footer {
  padding: 1px;
  text-align: center;
  background-color: #2289b2;
  color: white;
}
